* {
    cursor: default;
    user-select: none;
    image-rendering: pixelated;
}

body {
    background-color: #111;
}

#frame {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    position: fixed;
    overflow: hidden;
}

@media(min-aspect-ratio: 16/9) {
    #frame {
        font-size: 11.111vh;
        width: 177.778vh;
        height: 100vh;
    }
}

@media(max-aspect-ratio: 16/9) {
    #frame {
        font-size: 6.25vw;
        height: 56.25vw;
        width: 100vw;
    }
}

#frame {
    color: #FFF;
    background-color: #222;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4266a4+0,715794+100,7db9e8+100 */
    background: #4266a4;
    background: -moz-linear-gradient(top,  #4266a4 0%, #715794 100%, #7db9e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #4266a4 0%,#715794 100%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #4266a4 0%,#715794 100%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4266a4', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */

}

canvas {
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: "KarenFat";
    src: url("KarenFat.ttf") format("truetype");
    /* Permalink - http://www.pentacom.jp/pentacom/bitfontmaker2/gallery/?id=346 */
}

#victory {
    width: 100%;
    z-index: 10000;
    position: absolute;

    font-size: 2em;
    text-align: center;
    font-family: KarenFat;
    padding-top: 0.5em;

    display: none;
}
